* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 70px;
  background-color: #ec715f;
}

a {
  text-decoration: none;
  color: #fafafa;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.header-group {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
}

.nav-list {
  width: 120px;
  font-size: 16px;
  line-height: 70px;
  padding: 0 30px;
  list-style: none;
}

.logo {
  height: 70px;
}

#mv {
  width: 100%;
  text-align: center;
  color: #fafafa;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
}

.mv-title {
  padding-top: 200px;
  font-size: 64px;
  color: #fafafa;
}

.mv-text {
  font-size: 20px;
  padding-top: 10px;
  color: #fafafa;
}

#portfolio {
  background-color: #eceff1;
}

.heading {
  text-align: center;
  font-size: 32px;
  padding-top: 90px;
}

.heading::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  background-color: #ec715f;
}

.heading-text {
  text-align: center;
  font-size: 16px;
  padding-top: 30px;
}

.production-group {
  width: 920px;
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0 90px 0;
  margin: 0 auto;
}

.production {
  width: 300px;
  height: 250px;
  margin-right: 10px;
  margin-top: 10px;
  background-size: cover;
  background-position: center;
}

.bg-1 {
  background-image: url(img/sketch.jpg);
}

.bg-2 {
  background-image: url(img/websuku.png);
}

.bg-3 {
  background-image: url(img/write.jpg);
  margin-right: 0;
}

.bg-4 {
  background-image: url(img/webcamp.png);
}

.bg-5 {
  background-image: url(img/talk.jpg);
}

.bg-6 {
  background-image: url(img/webcamp-mother.png);
  margin-right: 0;
}

.strength-group {
  display: flex;
  width: 980px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 30px 0 90px 0;
}

.strength {
  width: 320px;
  height: auto;
  text-align: center;
}

.strength-title {
  font-size: 20px;
  padding: 10px 0;
}

.strength-text {
  font-size: 16px;
  text-align: left;
}

#profile {
  background-color: #eceff1;
}

.profile-group {
  display: flex;
  padding: 30px 0 90px 0;
}

.right-content {
  width: 50%;
}

.left-content {
  width: 50%;
}

.my-face {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 0 auto;
  background-image: url(img/my-icon.jpg);
}

.description-title {
  font-size: 20px;
  margin: 20px 0 5px 0;
}

.description-title:first-child {
  margin-top: 0;
}

.description-text {
  font-size: 16px;
}

.contact-group {
  display: flex;
  width: 800px;
  margin: 0 auto;
  padding: 30px 0 90px 0;
}

.link-text {
  color: black;
  text-decoration: underline;
}

.description {
  padding-top: 5px;
}

.left-contact-content {
  width: 130px;
  margin: 0 auto;
}

.right-contact-content {
  width: 180px;
  margin: 0 auto;
}

.right-contact-content .fab {
  font-size: 50px;
  margin-right: 20px;
}

.right-contact-content .fab:last-child {
  margin-right: 0;
}

footer {
  width: 100%;
  height: 70px;
  background-color: #ec715f;
}

.copyright {
  font-size: 16px;
  text-align: center;
  line-height: 70px;
  color: #fafafa;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }

  header {
    height: 50px;
  }

  .logo {
    height: 50px;
  }

  .menu-box {
    height: 40px;
    width: 40px;
    margin-right: 5%;
    border: 1px solid #fafafa;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
  }

  .list-bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    background-color: #fafafa;
  }

  .list-bar:first-child {
    margin-top: 10px;
  }

  .nav-list {
    display: none;
    line-height: 50px;
  }

  #mv {
    background-image: url(img/code.png);
  }

  .mv-title {
    font-size: 40px;
  }

  .mv-text {
    font-size: 18px;
  }

  .production-group {
    width: 300px;
  }

  .production {
    margin-right: 0;
  }

  .bg-1 {
    display: none;
  }

  .bg-3 {
    display: none;
  }

  .bg-5 {
    display: none;
  }

  .strength-group {
    width: 320px;
    display: flex;
    flex-wrap: wrap;
  }

  .strength {
    padding-top: 10px;
  }

  .profile-group {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }

  .left-content {
    width: 100%;
  }

  .right-content {
    width: 100%;
  }

  .profile-group .left-content {
    margin-bottom: 20px;
  }

  .contact-group {
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
  }

  .contact-group .left-content {
    margin-bottom: 20px;
  }

  footer {
    height: 60px;
  }

  .copyright {
    line-height: 60px;
  }
}
